body {
  background-color: rgb(32, 32, 32);
}

#video
{
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
  -webkit-filter: grayscale(1);
  box-shadow: 0px 0px 32px rgb(0,0,0);
  opacity: 0.25;
}

#video:hover
{
  opacity: 1.0;
}

#data-size {
  float: right;
}

#data-video-size {
  color: gray;
  font-family: Arial;
  font-size: 9px;
  text-align: right;
}

#data-audio-size {
  color: gray;
  font-family: Arial;
  font-size: 9px;
  text-align: right;
}

#output {
  position: absolute;
  left: calc(50% - 480px);
  top: calc(50% - 360px);
  z-index: -1;
  box-shadow: 0px 0px 32px rgb(0,0,0);
}