<html>
	<head>
		<link href="camera.css" rel="stylesheet" type="text/css">
		<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
		<script>
			window.webSocketServer="<%= webSocketUrl %>"
		</script>
		<script src="../bower_components/lz-string/libs/lz-string.min.js"></script>
		<script src="../camera.js"></script>
	</head>
	<body>
		<video id="video" width="160" height="120" autoplay></video>
		<canvas id="canvas" width="160" height="120" style="display:none"></canvas>
		<div id="output"></div>
	</body>
</html>